<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xianrou.mohu">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".base.MohuApplication"
        android:icon="@mipmap/zs"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.CodeActivity"/>
        <activity android:name=".activity.PublishPhotoActivity"/>
        <activity android:name=".activity.PublishVideoActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RewardActivity"/>
        <activity android:name=".activity.DescriptionActivity"/>
        <activity android:name=".activity.SaveAndShareActivity"/>
        <activity android:name=".activity.personalProfile.PersonalProfileActivity"/>
        <activity android:name=".activity.personalProfile.ProfileDetailActivity"/>
        <activity android:name=".activity.personalProfile.BlurbActivity"/>
        <activity android:name=".activity.personalProfile.PhoneActivity"/>
    </application>


</manifest>